.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/Chrome/App/AppInfo/
src/main/resources/Firefox/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/main/resources/Chrome/
src\main\resources\Chrome\App\AppInfo\
src/main/resources/chromedriver-win64/LICENSE.chromedriver
src/main/resources/chromedriver-win64.zip
src/main/resources/geckodriver-v0.33.0-win64.zip
src/main/resources/GoogleChromePortable64_116.0.5845.97_online.paf.exe
src/test/resources/mirrorImage.png
src/test/resources/testWebpageScreenshot.png
logs/spring-boot-logger.log
